<div class="main-product">
  <div class="container">
<div class="col-md-6 col-sm-8">
  <div class="furniture-middle">
    <div class="big-box">
      <div class="big-img-box">
        <img src="images/lag-60.png" alt="#" />
      </div>
      <div class="big-dit-b clearfix">
        <div class="col-md-6">
          <div class="left-big">
            <h3>Etiam sit amet urna semper, auctor arcu id</h3>
            <p>By <span>Kale Celik Esya</span> under <span>Chairs</span></p>
            <div class="prod-btn">
              <a href="#"><i class="fa fa-star" aria-hidden="true"></i> Save to wishlist</a>
              <a href="#"><i class="fa fa-thumbs-up" aria-hidden="true"></i> Like this</a>
              <p>23 likes</p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="right-big-b">
            <div class="tight-btn-b clearfix">
              <a class="view-btn" href="#">View</a>
              <a href="#">$320</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  </div>
</div>
